doctype
- var q = '?' + Math.random().toString(16).slice(2);
html 
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="google" content="notranslate")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css")
    title ForgingBlock 
  body
    div(id="app")
    script(type="text/javascript", src="index.js"+q) 